<div class="container-fluid">
    <div class="row ng-cloak" data-ng-hide="$parent.marker">
        <div class="col-xs-12">
            <h5>Please choose a location on the map</h5>
        </div>
    </div>
    <div class="image-container row ng-cloak" data-ng-show="$parent.marker">
        <div data-ng-repeat="photo in photosArr" class="col-xs-12 col-sm-4 col-md-3">
            <div class="image-box card-item">
                <img data-show-on-load class="list-image" data-ng-src="{{'https://farm' + photo.farm + '.staticflickr.com/' + photo.server + '/' + photo.id + '_' + photo.secret + '.jpg'}}" />
                <div class="ellipsis" data-ng-bind="photo.title" title="{{photo.title}}"></div>
            </div>
        </div>
        <div class="col-xs-12 pagination-container text-center">
            <button data-ng-hide="appState == 'requested' || totalResult == photosArr.length" class="btn btn-default" data-ng-click="nextPage()">Load More</button>
        </div>
        <div class="col-xs-12 card-item" data-ng-show="appState == 'idle' && photosArr.length == 0">
            <h5>No public images are available for this location. Please choose another location</h5>
        </div>
        <div class="col-xs-12 card-item" data-ng-show="appState == 'idle' && totalResult == photosArr.length && photosArr.length != 0">
            <h5>That's All folks.</h5>
        </div>
        <div class="col-xs-12 ng-cloak text-center" data-ng-show="appState == 'requested'">
            <img class="" alt="Fetching Images ..." src="./res/images/busy.gif" />
        </div>
    </div>
</div>